<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="_0512_2_Fakesta.Service.FakestaService" behaviorConfiguration="FakestaBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9000"/>
					</baseAddresses>
				</host>
				<endpoint
					address=""
					contract="_0512_2_Fakesta.Service.IFakesta"
					binding="webHttpBinding"
					behaviorConfiguration="RestBehavior"
				/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FakestaBehavior" >
					<!-- 도움말 페이지가 방해돼요! -->
					<serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
					<!-- /wsdl?wsdl -->
					<serviceMetadata httpGetEnabled="true" httpGetUrl="wsdl" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="RestBehavior" >
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>