<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPicture" 
						 maxBufferSize="2147483646"
						 maxReceivedMessageSize="2147483646" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://220.90.180.108:8888/wcf/example/pictureservice"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPicture"
                contract="ServiceReference1.IPicture" name="BasicHttpBinding_IPicture" />
        </client>
    </system.serviceModel>
</configuration>